*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(73, 236, 209), rgb(57, 215, 236));
}

#mainFrame{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 20px;
}

#logoFrame{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url("assets/TATAPLAYICON.jpg");
    background-position: center;
    background-size: cover;
}

#channelNumberEntry{
    text-align: center;
    padding: 2%;
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 2.8pc;
    color: #000;
    background: whitesmoke;
    outline: 0;
    border: 0;
    font-weight: bolder;
}

#channelNumberEntry::placeholder{
    font-weight: normal;
    font-size: 2.5pc;
}

#addDropLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.link{
    text-decoration: none;
    color: white;
    background: #e20092;
    width: 100%;
    text-align: center;
    margin: 3% 0;
    font-size: 1.5pc;
    font-style: italic;
    padding: 3% 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}


.link:active{
    background: white;
    color: #e20092;
}

@media screen and (max-width:700px) {
    #mainFrame{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #logoFrame{
        width: 150px;
        height: 150px;
    }

    #channelNumberEntry{
        width: 80%;
        font-size: 1.25pc;
        padding: 5% 0;
    }

    #channelNumberEntry::placeholder{
        font-size: 1.25pc;
    }

    #addDropLinks{
        width: 80%;
    }

    #keypadFrame{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        /* border: 0.5px solid red; */
    }
    .keypadFrameChild{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 2% 0;
    }

    .keypadFrameChild div{
        color: white;
        background: #e20092;
        font-size: 2.25pc;
        padding: 0 3%;
        border-radius: 50%;
        box-shadow: 0 0 5px #e20092;
        cursor: pointer;
        font-weight: bolder;
    }

    .keypadFrameChild div:hover{box-shadow: none;}
}